@import'./utils/variables';
@import'./utils/base';
@import'./utils/utils';

@import'./components/backdrop';
@import'./components/benefits';
@import'./components/button';
@import'./components/card-set';
@import'./components/check-container';
@import'./components/clients';
@import'./components/container';
@import'./components/footer';
@import'./components/form';
@import'./components/header';
@import'./components/hero';
@import'./components/spam';
@import'./components/team';
@import'./components/work';