.clients {
  padding: 60px 0px 60px;

  @media screen and(min-width:1200px) {
    padding: 94px 0px 94px;
  }
}
.clients__title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $primary-text-color;

  @media screen and(min-width:1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}
.clients__list {
  display:flex;
  margin-top: 50px;
  @media screen and(max-width:1199px) {
    flex-wrap: wrap;
    margin: -15px;
    margin-top: 30px;
  }
  @media screen and(min-width:1200px) {
    margin: -15px;
    margin-top: 30px;
    justify-content: center;
  }
}
.clients__logo {
@media screen and(max-width:767px) {
    width: calc((100% - 2 * 30px)/2);
    margin: 15px;
    }
@media screen and(min-width:768px) {
    width: calc((100% - 3 * 30px)/3);
    margin: 15px;
    }
@media screen and(min-width:1200px) {
    width: calc((100% - 6 * 30px)/6);
      margin: 15px;
     &:first-child{
      margin-left: 0;
     }
     &:last-child{
      margin-right: 0;
     }
    }
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid $border-second-color;
  border-radius: 4px;
  cursor: pointer;
  color: $border-second-color;

  transition: color $timing-option,
  border $timing-option,
  filter $timing-option;
 
  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
.clients__icon {
  fill: currentColor;
}
