.hero {
background-color:$primary-color-site;
height: 400px;
margin-left: auto;
margin-right: auto;

background-position:center;
text-align: center;
padding: 118px 0;
background-image:$gradient,
url("../../images/hero-480.jpg");
background-color: $bgc-silver;
background-size:cover;
background-repeat: no-repeat;

@media screen and(min-width:480px), (min-resolution:2dppx){
  background-image:$gradient,
  url("../../images/hero-480@2x.jpg");
  }
@media screen and(min-width:768px){
    max-width: 760px;
    background-image:$gradient,
    url("../../images/hero-768.jpg");
  }
@media screen and(min-resolution:2dppx) {
    background-image:$gradient,
    url("../../images/hero-768@2x.jpg");
    }
@media screen and(min-width:1200px) {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  background-image: $gradient,
  url("../../images/hero-1200.jpg");
  }
@media screen and(min-resolution:2dppx) {
  background-image:$gradient,
  url("../../images/hero-1200@2x.jpg");
}
}
.hero__title{
  color: $primary-bg-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;

  @media screen and(min-width:1200px) {
      &{max-width: 696px;
        font-size: 44px;
        line-height: 1.36;}
    }
}
.hero__button {
  background-color: $accent-color;
  color: $primary-bg-color;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: inline-block;
  padding: 10px 24px;
  border: 1px solid $logo-text-color;
  border-radius: 4px;

  transition: color $timing-option,
  background-color $timing-option;

  @media screen and(min-width:1200px) {
      & {
        padding: 10px 32px;
      }
    }
  &:hover,
  &:focus{
    background-color: $active-btm-color;
  }
}