.spam {
  margin-left: auto;
  margin-right: auto;
@media screen and(min-width:1200px) {
  margin: 0;
  }
}
.spam__form {
  @media screen and(max-width:1199px) {
  flex-direction: column;
  }
  margin-top: 20px;
@media screen and(min-width:1200px) {
    display: flex;
}
}
.spam__maill {
  width: 450px;
  padding: 15px 0px 15px 16px;
  margin-bottom: 20px;

  background-color: $primary-color-site;
  border-radius: 4px;
  border: 1px solid $maill-border-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: $primary-bg-color;
  @media screen and(min-width:1200px) {
    width: 358px;
    height: 50px;
    margin: 0 12px 0 0;
  }
}
.spam__button {
margin-left: auto;
margin-right: auto;
padding:10px 31px;
display: flex;

align-items: center;
justify-content: center;
border-radius: 4px;
background-color: $accent-color;
color: $primary-bg-color;
border: none;
cursor: pointer;

font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
transition: box-shadow $timing-option;

@media screen and(min-width:1200px) {
 width: 200px;
 height: 50px;
 padding: 10px 28px;
}
&:hover,
&:focus{
  box-shadow: 0px 4px 4px $box-shadow-color;
}
}
.spam__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $primary-bg-color;
}
.spam__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primary-bg-color;
}