.team {
  margin-left: auto;
  margin-right: auto;
background-color: $secondary-text-color;
padding: 60px 0px;
@media screen and(min-width:1200px) {
  padding: 94px 0px;
}
}
.team__title {
text-align: center;
font-weight: 700;
font-size: 28px;
line-height: 1.17;
letter-spacing: 0.03em;

color: $primary-text-color;
margin-bottom: 30px;

@media screen and(min-width:1200px) {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
}
}
.comand {
margin:0;
padding: 0;
@extend %review-set;
justify-content: center;
@media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.comand__list {
display: block;
height: 100%;
text-align: center;

background-color: $primary-bg-color;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

@media screen and(min-width:768px) {
    width: calc((100% - 2 * 30px)/2);
    margin: 15px;
  }
@media screen and(min-width:1200px) {
  width: calc((100% - 4 * 30px)/4);
  margin: 15px;
}
@media screen and(max-width:767px) {
  &:not(:first-child) {
      margin-top: 30px;
    }
}
}
.comand__name {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: $primary-text-color;
margin-bottom: 10px;
}
.comand__description {
text-decoration: none;
font-size: 16px;
margin-bottom: 16px;
line-height: 1.18;
color: $title-text-color;
}
.networks {
display: flex;
align-items: center;
justify-content: center;
}
.networks__link {
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
border-radius: 50%;
color: $border-second-color;

margin-right: 10px;
transition: color $timing-option,
background-color $timing-option,
box-shadow $timing-option;

&:hover,
&:focus{
  color: $primary-bg-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px $box-shadow-second;}
}
.comand__label {
padding: 30px 0;
}
.networks__icon {
fill: currentColor;
}